*, *::before, *::after {
  box-sizing: content-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 60vw;
}

.container {
  width: 400px;
  max-width: 60%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 6px 4px;
}

.btn-grid {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: teal;
  border: 2px solid black;
  padding: 5px 15px;
  outline: none;
}

btn:hover {
  border-color: black;
}

.btn.correct {
  color: black;
}

.btn.wrong {
  color: red;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 15px 7px;
}

.controls {
  display: flex;
  justify-content: center;
}

.flex-container {
  display:inline-flexbox;
}

.hide {
  display:none;
}








